@font-face {
    font-family: fbck; 
    src: url(/futurabookc.otf); 
}



// fonts

$fbck: 'fbck';


//colors

$colorWhite: #FFFFFF;
$grey: #EEF0F2;
$darkBlue: #2C467C;
$orange: #EA8E02;


//fontSizes

$headerLi: 16px;
$description: 32px;
$orangeButton:36px;
$formInputSize:25px;
$blockTitleSize: 70px;
$mainText: 45px;
